* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(
      90deg,
      rgba(48, 16, 255, 1) 0%,
      rgba(100, 115, 255, 1) 100%
    );
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 600px;
    background-color:white;
    text-align: center;
    margin: 80px auto;
    border-radius: 10px;
    padding: 42px;
  }
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 44px;
    letter-spacing: 5px;
    text-align: center;
  }
  
 

.intro{
  border-radius:20px;
  padding: 40px;
margin:12% 27%;
background: linear-gradient(
  90deg,
  rgba(255, 12, 241, 1) 0%,
  rgba(250, 0, 135, 1) 100%
);
width:50%;
}
  
  .title{
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  Button{
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
    margin:4% 47%;

  }

  .my-modal .modal-content {
    background: linear-gradient(
      90deg,
      rgba(48, 16, 255, 1) 0%,
      rgba(100, 115, 255, 1) 100%
    );
    border-radius: 5px;
  }
 
  
  .user {
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
    
    border-radius: 5px;
  }
  
  .user:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  }
  
  .user:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  }
  
  .user:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  }
  
  #icon {
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    margin-left:20px;
  }
  
 